<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="getBackButtonText()" defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="book">
  <ion-list>
    <ion-item>
      <h1>{{ book.title }}</h1>
    </ion-item>
    <ion-item>
      Author: <em>{{ book.author }}</em>
    </ion-item>
    <ion-item>
      Genre: <em>{{ book.genre }}</em>
    </ion-item>
    <ion-item>
      Language: <em>{{ book.language }}</em>
    </ion-item>
    <ion-item>
      Pages: <em>{{ book.pagesCount }}</em>
    </ion-item>
    <ion-item *ngIf="book.description">
      Description: <em>{{ book.description }}</em>
    </ion-item>
  </ion-list>
</ion-content>
