<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Books
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar show-clear-button="focus" (ionInput)="handleSearchInput($event)"></ion-searchbar>
    <ion-list class="filters">
      <ion-item>
        <ion-select aria-label="Author" placeholder="Filter by author" [multiple]="true" (ionChange)="handleFilterByAuthor($event)">
          <ion-select-option *ngFor="let author of authors | async" value={{author}}>{{author}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-select aria-label="Language" placeholder="Filter by language" [multiple]="true" (ionChange)="handleFilterByLanguage($event)">
          <ion-select-option *ngFor="let language of languages" value={{language}}>{{language}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="pages">
        <ion-input label="Pages min:" type="number" inputmode="numeric" value={{minPages}} min={{minPages}} max={{maxPages}} (ionInput)="handleFilterByPagesMin($event)"></ion-input>
        <ion-input label="Pages max:" type="number" inputmode="numeric" value={{maxPages}} min={{minPages}} max={{maxPages}} (ionInput)="handleFilterByPagesMax($event)"></ion-input>
      </ion-item>
      <ion-item>
        <ion-select aria-label="Genre" placeholder="Filter by genre" (ionChange)="handleFilterByGenre($event)">
          <ion-select-option *ngFor="let genre of genres" value={{genre}}>{{genre}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-button [routerLink]="'/book/create'">Add book</ion-button>
        <ion-button [routerLink]="'/author/edit'">Edit authors</ion-button>
      </ion-item>
    </ion-list>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Books
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-list class="book-list">
    <app-book *ngFor="let book of filteredBooks" [book]="book" class="book-item"></app-book>
  </ion-list>
</ion-content>
